vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jan 2014 19:28:03 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|PCSD\\otto ethan
vti_modifiedby:SR|ETHAN-PC\\Ethan
vti_timecreated:TR|11 Jan 2014 19:45:27 -0000
vti_backlinkinfo:VX|watch.htm commentedcopy.html news_tumblr.html newsredirect.html gallery.php mentors.html gallerytest.php thank_you_quiz.html quiz_form.html first.html 500.shtml game.html default.html demoTOC.php error_message_quiz.html page_template.html videos.html
vti_syncofs_pittsfordrobotics.org\:21:TW|18 Jan 2014 19:52:35 -0000
vti_syncwith_pittsfordrobotics.org\:21:TX|18 Jan 2014 19:49:18 -0000
vti_nexttolasttimemodified:TW|11 Jan 2014 19:45:27 -0000
vti_cacheddtm:TX|25 Jan 2014 19:28:03 -0000
vti_filesize:IR|67
vti_cachedlinkinfo:VX|S|Images/biggerfirstlogo.PNG
vti_cachedsvcrellinks:VX|FSUS|Images/biggerfirstlogo.PNG
