vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jan 2014 19:26:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|commentedcopy.html mentors.html news_tumblr.html calendar.html gallery.php resources.html gallerytest.php first.html game.html subteams.html news.htm sponsors.html page_template.html videos.html donations.html index.html
vti_author:SR|PCSD\\otto ethan
vti_modifiedby:SR|ETHAN-PC\\Ethan
vti_timecreated:TR|11 Jan 2014 21:57:05 -0000
vti_syncofs_pittsfordrobotics.org\:21:TW|18 Jan 2014 18:08:37 -0000
vti_syncwith_pittsfordrobotics.org\:21:TX|11 Jan 2014 21:57:05 -0000
vti_cacheddtm:TX|25 Jan 2014 19:26:59 -0000
vti_filesize:IR|1889
vti_cachedlinkinfo:VX|S|Images/backdropshadow3.png S|Images/PantherBanner1.png
vti_cachedsvcrellinks:VX|FSUS|Images/backdropshadow3.png FSUS|Images/PantherBanner1.png
