vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|01 Feb 2012 01:19:50 -0000
vti_author:SR|PCSD\\otto ethan
vti_modifiedby:SR|PCSD\\otto ethan
vti_nexttolasttimemodified:TW|01 Feb 2012 01:19:50 -0000
vti_timecreated:TR|25 Jan 2014 14:35:09 -0000
vti_cacheddtm:TX|25 Jan 2014 14:35:09 -0000
vti_filesize:IR|9740
vti_cachedlinkinfo:VX|S|images/blue-button-bg.gif S|images/printer.gif S|images/rewind.gif S|images/fforward.gif S|images/comment.gif S|images/alert.gif S|images/x.gif
vti_cachedsvcrellinks:VX|FSUS|gallery/plogger/plog-content/themes/default/images/blue-button-bg.gif FSUS|gallery/plogger/plog-content/themes/default/images/printer.gif FSUS|gallery/plogger/plog-content/themes/default/images/rewind.gif FSUS|gallery/plogger/plog-content/themes/default/images/fforward.gif FSUS|gallery/plogger/plog-content/themes/default/images/comment.gif FSUS|gallery/plogger/plog-content/themes/default/images/alert.gif FSUS|gallery/plogger/plog-content/themes/default/images/x.gif
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_pittsfordrobotics.org\:21:TW|01 Feb 2012 01:19:50 -0000
vti_syncwith_pittsfordrobotics.org\:21:TW|25 Jan 2014 14:35:09 -0000
