vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|10 Jun 2012 22:03:18 -0000
vti_author:SR|PCSD\\otto ethan
vti_modifiedby:SR|PCSD\\otto ethan
vti_nexttolasttimemodified:TW|10 Jun 2012 22:03:18 -0000
vti_timecreated:TR|25 Jan 2014 15:31:36 -0000
vti_cacheddtm:TX|25 Jan 2014 15:31:36 -0000
vti_filesize:IR|12848
vti_cachedlinkinfo:VX|S|http://members.expand2web.com/E2W-theme-images/block-headeroptions.png S|http://members.expand2web.com/E2W-theme-images/block-layoutsoptions.png S|http://members.expand2web.com/E2W-theme-images/block-mobileoptions.png S|http://members.expand2web.com/E2W-theme-images/block-seooptions.png S|http://members.expand2web.com/E2W-theme-images/block-fboptions.png
vti_cachedsvcrellinks:VX|NSHS|http://members.expand2web.com/E2W-theme-images/block-headeroptions.png NSHS|http://members.expand2web.com/E2W-theme-images/block-layoutsoptions.png NSHS|http://members.expand2web.com/E2W-theme-images/block-mobileoptions.png NSHS|http://members.expand2web.com/E2W-theme-images/block-seooptions.png NSHS|http://members.expand2web.com/E2W-theme-images/block-fboptions.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_pittsfordrobotics.org\:21:TW|10 Jun 2012 22:03:18 -0000
vti_syncwith_pittsfordrobotics.org\:21:TW|25 Jan 2014 15:31:36 -0000
