vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|01 Feb 2012 01:14:26 -0000
vti_author:SR|PCSD\\otto ethan
vti_modifiedby:SR|PCSD\\otto ethan
vti_nexttolasttimemodified:TW|01 Feb 2012 01:14:26 -0000
vti_timecreated:TR|25 Jan 2014 14:35:01 -0000
vti_cacheddtm:TX|25 Jan 2014 14:35:01 -0000
vti_filesize:IR|17330
vti_cachedlinkinfo:VX|S|images/search-btn.png S|images/blue-gradient.gif S|images/blue-gradient.gif S|images/com-bubble.gif S|images/alert.gif S|images/null.gif S|images/bg-field.png S|images/carrot_sel3.png
vti_cachedsvcrellinks:VX|FSUS|gallery/plogger/plog-content/themes/air/images/search-btn.png FSUS|gallery/plogger/plog-content/themes/air/images/blue-gradient.gif FSUS|gallery/plogger/plog-content/themes/air/images/blue-gradient.gif FSUS|gallery/plogger/plog-content/themes/air/images/com-bubble.gif FSUS|gallery/plogger/plog-content/themes/air/images/alert.gif FSUS|gallery/plogger/plog-content/themes/air/images/null.gif FSUS|gallery/plogger/plog-content/themes/air/images/bg-field.png FSUS|gallery/plogger/plog-content/themes/air/images/carrot_sel3.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_pittsfordrobotics.org\:21:TW|01 Feb 2012 01:14:26 -0000
vti_syncwith_pittsfordrobotics.org\:21:TW|25 Jan 2014 14:35:01 -0000
