vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jan 2014 19:30:44 -0000
vti_author:SR|PCSD\\otto ethan
vti_modifiedby:SR|ETHAN-PC\\Ethan
vti_nexttolasttimemodified:TW|08 Jun 2012 19:22:11 -0000
vti_timecreated:TR|25 Jan 2014 15:23:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_pittsfordrobotics.org\:21:TW|08 Jun 2012 19:22:11 -0000
vti_syncwith_pittsfordrobotics.org\:21:TW|25 Jan 2014 15:23:56 -0000
vti_cacheddtm:TX|25 Jan 2014 19:30:44 -0000
vti_filesize:IR|11336
