vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jan 2014 19:30:44 -0000
vti_author:SR|PCSD\\otto ethan
vti_modifiedby:SR|ETHAN-PC\\Ethan
vti_nexttolasttimemodified:TW|05 Jan 2012 20:10:39 -0000
vti_timecreated:TR|25 Jan 2014 15:23:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_pittsfordrobotics.org\:21:TW|05 Jan 2012 20:10:39 -0000
vti_syncwith_pittsfordrobotics.org\:21:TW|25 Jan 2014 15:23:56 -0000
vti_cacheddtm:TX|25 Jan 2014 19:30:44 -0000
vti_filesize:IR|818
vti_cachedlinkinfo:VX|S|../images/wheel.png S|../images/mask.png S|../images/marker.png
vti_cachedsvcrellinks:VX|FSUS|wordpress/wp-admin/images/wheel.png FSUS|wordpress/wp-admin/images/mask.png FSUS|wordpress/wp-admin/images/marker.png
