vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jan 2014 19:30:45 -0000
vti_author:SR|PCSD\\otto ethan
vti_modifiedby:SR|ETHAN-PC\\Ethan
vti_nexttolasttimemodified:TW|05 Jan 2012 20:10:39 -0000
vti_timecreated:TR|25 Jan 2014 15:23:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_pittsfordrobotics.org\:21:TW|05 Jan 2012 20:10:39 -0000
vti_syncwith_pittsfordrobotics.org\:21:TW|25 Jan 2014 15:23:58 -0000
vti_cacheddtm:TX|25 Jan 2014 19:30:45 -0000
vti_filesize:IR|5160
vti_cachedlinkinfo:VX|S|../images/align-none.png S|../images/align-left.png S|../images/align-center.png S|../images/align-right.png
vti_cachedsvcrellinks:VX|FSUS|wordpress/wp-admin/images/align-none.png FSUS|wordpress/wp-admin/images/align-left.png FSUS|wordpress/wp-admin/images/align-center.png FSUS|wordpress/wp-admin/images/align-right.png
